h1{
    color: rgb(206, 41, 41);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Keeps the video in the background */
}
::selection{
    background-color: #ffb30055; /* Example background color */
    color: rgb(255, 217, 0); /* Text color when selected */
    opacity: 0.5; /* 50% opacity */
}